In [25]:
import pandas as pd

In [26]:
import os

In [27]:
os.listdir("ventas_comercial")

['A Comedy of Errors.csv',
 'A Midsummer nights dream.csv',
 'A Winters Tale.csv',
 'Alls well that ends well.csv',
 'Antony and Cleopatra.csv',
 'As you like it.csv',
 'Coriolanus.csv',
 'Cymbeline.csv',
 'Hamlet.csv',
 'Henry IV.csv',
 'Henry V.csv',
 'Henry VI Part 1.csv',
 'Henry VI Part 2.csv',
 'Henry VI Part 3.csv',
 'Henry VIII.csv',
 'Julius Caesar.csv',
 'King John.csv',
 'King Lear.csv',
 'Loves Labours Lost.csv',
 'macbeth.csv',
 'Measure for measure.csv',
 'Merchant of Venice.csv',
 'Merry Wives of Windsor.csv',
 'Much Ado about nothing.csv',
 'Othello.csv',
 'Pericles.csv',
 'Richard II.csv',
 'Richard III.csv',
 'Romeo and Juliet.csv',
 'Taming of the Shrew.csv',
 'The Tempest.csv',
 'Timon of Athens.csv',
 'Titus Andronicus.csv',
 'Troilus and Cressida.csv',
 'Twelfth Night.csv',
 'Two Gentlemen of Verona.csv']

In [28]:
path = "ventas_comercial"

In [29]:
files = [os.path.join(path, file) for file in os.listdir(path)]

In [30]:
print(files)

['ventas_comercial\\A Comedy of Errors.csv', 'ventas_comercial\\A Midsummer nights dream.csv', 'ventas_comercial\\A Winters Tale.csv', 'ventas_comercial\\Alls well that ends well.csv', 'ventas_comercial\\Antony and Cleopatra.csv', 'ventas_comercial\\As you like it.csv', 'ventas_comercial\\Coriolanus.csv', 'ventas_comercial\\Cymbeline.csv', 'ventas_comercial\\Hamlet.csv', 'ventas_comercial\\Henry IV.csv', 'ventas_comercial\\Henry V.csv', 'ventas_comercial\\Henry VI Part 1.csv', 'ventas_comercial\\Henry VI Part 2.csv', 'ventas_comercial\\Henry VI Part 3.csv', 'ventas_comercial\\Henry VIII.csv', 'ventas_comercial\\Julius Caesar.csv', 'ventas_comercial\\King John.csv', 'ventas_comercial\\King Lear.csv', 'ventas_comercial\\Loves Labours Lost.csv', 'ventas_comercial\\macbeth.csv', 'ventas_comercial\\Measure for measure.csv', 'ventas_comercial\\Merchant of Venice.csv', 'ventas_comercial\\Merry Wives of Windsor.csv', 'ventas_comercial\\Much Ado about nothing.csv', 'ventas_comercial\\Othello.csv', 'ventas_comercial\\Pericles.csv', 'ventas_comercial\\Richard II.csv', 'ventas_comercial\\Richard III.csv', 'ventas_comercial\\Romeo and Juliet.csv', 'ventas_comercial\\Taming of the Shrew.csv', 'ventas_comercial\\The Tempest.csv', 'ventas_comercial\\Timon of Athens.csv', 'ventas_comercial\\Titus Andronicus.csv', 'ventas_comercial\\Troilus and Cressida.csv', 'ventas_comercial\\Twelfth Night.csv', 'ventas_comercial\\Two Gentlemen of Verona.csv']

In [31]:
df = pd.concat(map(pd.read_csv, files), ignore_index=True)

In [32]:
print(df)

        Unnamed: 0  Dataline                     Play  PlayerLinenumber  \
0            22427     22428       A Comedy of Errors             132.0
1            22428     22429       A Comedy of Errors             132.0
2            22429     22430       A Comedy of Errors             132.0
3            22430     22431       A Comedy of Errors               1.0
4            22431     22432       A Comedy of Errors               1.0
...            ...       ...                      ...               ...
111391      107902    107903  Two Gentlemen of Verona              52.0
111392      107903    107904  Two Gentlemen of Verona              52.0
111393      107904    107905  Two Gentlemen of Verona              52.0
111394      107905    107906  Two Gentlemen of Verona              52.0
111395      107906    107907  Two Gentlemen of Verona              52.0

       ActSceneLine           Player  \
0               NaN  OCTAVIUS CAESAR
1               NaN  OCTAVIUS CAESAR
2               NaN  OCTAVIUS CAESAR
3             1.1.1           AEGEON
4             1.1.2           AEGEON
...             ...              ...
111391      5.4.177        VALENTINE
111392      5.4.178        VALENTINE
111393      5.4.179        VALENTINE
111394      5.4.180        VALENTINE
111395          NaN        VALENTINE

                                               PlayerLine
0                                                   ACT I
1               SCENE I. A hall in DUKE SOLINUS'S palace.
2       Enter DUKE SOLINUS, AEGEON, Gaoler, Officers, ...
3                    Proceed, Solinus, to procure my fall
4              And by the doom of death end woes and all.
...                                                   ...
111391       Come, Proteus, 'tis your penance but to hear
111392                The story of your loves discovered:
111393     That done, our day of marriage shall be yours,
111394        One feast, one house, one mutual happiness.
111395                                             Exeunt

[111396 rows x 7 columns]

In [33]:
df.head()

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,22427,22428,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,ACT I
1,22428,22429,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,SCENE I. A hall in DUKE SOLINUS'S palace.
2,22429,22430,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,"Enter DUKE SOLINUS, AEGEON, Gaoler, Officers, ..."
3,22430,22431,A Comedy of Errors,1.0,1.1.1,AEGEON,"Proceed, Solinus, to procure my fall"
4,22431,22432,A Comedy of Errors,1.0,1.1.2,AEGEON,And by the doom of death end woes and all.

In [34]:
len(df)

111396

In [35]:
filtrada = df.dropna()

In [36]:
len(filtrada)

105152

In [37]:
len(filtrada.drop_duplicates())

105152

In [38]:
len(df)-len(filtrada)

6244

In [41]:
len(filtrada.columns)

7

In [42]:
filtrada.tail()

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
111390,107901,107902,Two Gentlemen of Verona,52.0,5.4.176,VALENTINE,That you will wonder what hath fortuned.
111391,107902,107903,Two Gentlemen of Verona,52.0,5.4.177,VALENTINE,"Come, Proteus, 'tis your penance but to hear"
111392,107903,107904,Two Gentlemen of Verona,52.0,5.4.178,VALENTINE,The story of your loves discovered:
111393,107904,107905,Two Gentlemen of Verona,52.0,5.4.179,VALENTINE,"That done, our day of marriage shall be yours,"
111394,107905,107906,Two Gentlemen of Verona,52.0,5.4.180,VALENTINE,"One feast, one house, one mutual happiness."

In [43]:
len(os.listdir("ventas_comercial"))

36

In [44]:
filtrada.sample()

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
81174,77685,77686,Pericles,14.0,4.3.103,GOWER,"Wherefore she does, and swears she'll never st..."

In [45]:
filtrada.sample(5)

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
92170,88681,88682,Taming of the Shrew,21.0,0.1.79,Lord,"Now, fellows, you are welcome."
6363,109915,109916,A Winters Tale,21.0,4.4.138,PERDITA,"For the flowers now, that frighted thou let'st..."
64856,59067,59068,Measure for measure,100.0,2.1.242,POMPEY,The valiant heart is not whipt out of his trade.
110271,106782,106783,Two Gentlemen of Verona,35.0,3.1.148,DUKE,Because myself do want my servants' fortune:
41773,8573,8574,Henry VI Part 2,53.0,4.2.93,CLERK,"Sir, I thank God, I have been so well brought up"

In [46]:
filtrada.value_counts("Play")

Play
Hamlet                      4020
Coriolanus                  3768
Cymbeline                   3756
Richard III                 3705
Antony and Cleopatra        3565
Othello                     3563
King Lear                   3500
Troilus and Cressida        3491
A Winters Tale              3364
Henry VIII                  3279
Henry V                     3233
Henry VI Part 2             3130
Romeo and Juliet            3096
Henry IV                    3044
Henry VI Part 3             2939
Alls well that ends well    2925
Loves Labours Lost          2878
Measure for measure         2840
Richard II                  2800
Henry VI Part 1             2777
As you like it              2677
Merchant of Venice          2665
King John                   2649
Taming of the Shrew         2637
Merry Wives of Windsor      2614
Julius Caesar               2597
Much Ado about nothing      2584
Titus Andronicus            2559
Timon of Athens             2500
Twelfth Night               2483
Pericles                    2472
macbeth                     2390
The Tempest                 2289
Two Gentlemen of Verona     2234
A Midsummer nights dream    2162
A Comedy of Errors          1967
dtype: int64

In [47]:
filtrada.value_counts("Play").max()

4020

In [49]:
filtrada.value_counts("Player")

Player
GLOUCESTER       1811
HAMLET           1503
IAGO             1101
FALSTAFF         1053
KING HENRY V     1029
                 ...
Both Citizens       1
HERBERT             1
HERNIA              1
VAUGHAN             1
A Lord              1
Length: 934, dtype: int64

In [50]:
len(filtrada.value_counts("Player"))

934